body {
    width:100%!important;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    margin:0;
    padding:0;
    color:#60472e;
}
#outlook a {
    padding:0;
    color:inherit;
}
.ExternalClass {
    width:100%;
    display:block!important;
    line-height:100%;
}
.ExternalClass *, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height:100%;
}
.appleLinks, .appleLinksWhite {
    text-decoration:none!important;
}